.login-container {
  border: 2px solid #505050;
  width: 500px;
  height: 700px;
  text-align: start;
  background: linear-gradient(
    135deg,
    rgba(97, 80, 25, 0.5) 0%,
    #272727 25%,
    #1c1d1f 100%
  );
  border-radius: 12px;
  padding: 50px 24px;
  box-sizing: border-box;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: #d4af37;
  font-weight: 500;
}

.login-container form {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.signInput {
  border: 1px solid #d4af37;
  border-radius: 8px;
  background-color: #1c1d1f;
  width: 400px;
  height: 40px;
  margin: 10px 0px 20px 0px;
  color: white;
}

/* 인증 관련 버튼 색상*/
.btn-login {
  background-color: #272727;
  border: 1px solid #d4af37;
  color: #d4af37;
}

.btn-login:hover {
  background-color: rgba(212, 175, 55, 0.1);
}
