* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #1c1d1f;
}

/* 여러 페이지에서 공통으로 쓰이는 강조 텍스트 색상 */
.info {
  color: #d4af37;
}

/* 공통 버튼 뼈대  */
.btn-action {
  flex: 1;
  height: 50px;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* 배경이 투명한 텍스트 형태의 버튼 */
.noneType-btn {
  background: transparent;
  border: none;
  color: #cebb7b;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px;
}

.noneType-btn:hover {
  color: #d4af37;
  margin: 0px;
}
